[Unit]
Description=RIAPS Resource Management Quota Service
#Before=riaps-deplo.service

[Service]
Type=oneshot
SyslogIdentifier=RIAPS-RM-QUOTA
ExecStartPre=/sbin/quotaoff -a
ExecStart=/sbin/quotacheck -vaugm
ExecStartPost=/sbin/quotaon -a
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
