# Requirements for sphinx documentation
sphinx==6.2.1
sphinx-rtd-theme==1.2.2
pillow==5.4.1
mock==1.0.1
commonmark==0.9.1
recommonmark==0.5.0
# Requirements based on RIAPS platform
# apparmor-monkeys==0.0.2.dev0
# bcrypt==4.0.1
butter==0.13.1
# cgroups==0.1.0
cgroupspy==0.2.2
# cryptography==3.4.8
# czmq==4.2.1
fabric==3.2.2
# filelock==3.15.4
gitdb==4.0.11
# GitPython==3.1.37
# graphviz==0.20.1
# hiredis == 2.3.2
# influxdb-client==1.37.0
# Jinja2==3.1.2
# libtmux==0.23.2
lmdb==1.4.1
netifaces2==0.0.9
paramiko==3.4.0
# parse==1.19.1
psutil==5.9.0
# pybind11==2.11.1
pycairo==1.20.1
# pycapnp==2.0.0b2
pycryptodomex==3.19.0
pydevd==2.9.6
pydot==1.4.2
# PyGObject>=3.42.1
pymultigen==0.2.0
pyroute2==0.7.2
# pyserial==3.5
# python-magic==0.4.27
# python-prctl==1.7
PyYAML==5.4.1
pyzmq==25.1.2
redis==5.0.1
# rpyc==5.3.1
simplejson==3.16.0
# spdlog==2.0.6
textX==3.1.1
toml==0.10.2
# zyre==2.0.1

