# MM TODO:  TEMPORARY CHANGE HERE TO SETUP AN ALL PYTHON PKG RELEASE - removed riaps-core-armhf dependency, need it back if rdiscoveryd gets fixed
Package: riaps-pycom-armhf
Architecture: armhf
Maintainer: Institute for Software Integrated Systems
Depends: debconf (>= 0.5.00),libssl-dev, python3, python3-pip
Conflicts:
Priority: required
Version:  @version@
Description: This is the python version of the component model.
