Package: riaps-pycom-amd64
Architecture: amd64
Maintainer: Institute for Software Integrated Systems
Depends: debconf (>= 0.5.00),libssl-dev, python3, python3-pip
Conflicts:
Priority: required
Version:  @version@
Description: This is the python version of the component model.
