Package: riaps-pycom-aarch64
Architecture: aarch64
Maintainer: Institute for Software Integrated Systems
Depends: debconf (>= 0.5.00),libssl-dev, python3, python3-pip, riaps-core-aarch64
Conflicts:
Priority: required
Version:  @version@
Description: This is the python version of the component model.
