[Unit]
Description=RIAPS Resource Management Cgroups Service
#Before=riaps-deplo.service

[Service]
Type=oneshot
SyslogIdentifier=RIAPS-RM-CGROUPS
ExecStart=/usr/local/bin/user_cgroups riaps
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

