[Unit] 
Description=RIAPS Deployment Manager Service 
  
[Service] 
Type=simple 
EnvironmentFile=/etc/riaps/systemdenv.conf 
StandardOutput=syslog 
StandardError=inherit 
SyslogIdentifier=RIAPS 
SyslogLevel=info 
ExecStartPre=/bin/sh -c "echo RIAPSHOME=$$RIAPSHOME"
ExecStartPre=/bin/sh -c "echo RIAPSAPPS=$$RIAPSAPPS"
ExecStartPre=/bin/sh -c "echo PATH=$$PATH"
ExecStartPre=/bin/sh -c "echo LD_LIBRARY_PATH=$$LD_LIBRARY_PATH"
ExecStart=/usr/local/bin/riaps_deplo 

  
[Install]
WantedBy=multi-user.target