[Unit] 
Description=RIAPS RPyC Registry Service 
  
[Service] 
Type=simple  
User=riaps 
Group=riaps 
StandardOutput=syslog 
StandardError=inherit 
SyslogIdentifier=RIAPS-RPYC 
SyslogLevel=info 
ExecStart=/usr/local/bin/rpyc_registry.py 
Restart=always
RestartSec=5s
  
[Install]
WantedBy=multi-user.target
