[Unit]
Description=RIAPS Deployment Manager Service
Requires=sys-subsystem-net-devices-eth0.device riaps-rm-cgroups.service riaps-rm-quota.service
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=simple
EnvironmentFile=/etc/riaps/systemdenv.conf
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=RIAPS-DEPLO
SyslogLevel=info
ExecStart=/usr/local/bin/riaps_deplo
Restart=always
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
