[Unit]
Description=RIAPS Deployment Manager Service
Requires=riaps-rm-cgroups.service riaps-rm-quota.service

[Service]
Type=simple
EnvironmentFile=/etc/riaps/systemdenv.conf
Restart=always
KillMode=control-group
KillSignal=SIGKILL
SendSIGKILL=yes
SendSIGHUP=yes
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=RIAPS-DEPLO
SyslogLevel=info
ExecStart=/bin/sh -c '/usr/bin/sudo LD_LIBRARY_PATH=/opt/riaps/armhf/lib:/usr/local/lib -E /usr/local/bin/riaps_deplo'

[Install]
WantedBy=multi-user.target