Package: riaps-pycom-arm64
Architecture: arm64
Maintainer: Institute for Software Integrated Systems
Depends: debconf (>= 0.5.00),libssl-dev, python3, python3-pip, riaps-core-arm64
Conflicts:
Priority: required
Version:  @version@
Description: This is the python version of the component model.
